*{
    margin: 0%;
    padding: 0%;
}

body{
    background: #ebebebcc;
    max-width: 100vh;
}

.login-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffff;
    border-radius: 8px;
    gap: 10px;
    width: 25rem;
    height: 25rem;
    padding: 2rem;
    margin-top: 12rem;
    margin-left: 45rem;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
}

.titulo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;

}

.login{
    
    padding: 2rem;
}

form{
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 10px;
}

label{
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 700;
    text-align: left;
}

input{
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: solid 1px #cccc;
    outline: none;
}

input[type="checkbox"]{
    display: flex;
    flex-direction: row;
}

.botao{
    background-color: #3483fa;
    color: #ffff;
    border: none;
    border-radius: 8px;
    padding: 0.5rem;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    width: 20rem;
    margin-top: 1rem;
}

.botao:hover{
    background-color: #5296fc;
    cursor: pointer;
}

.criar-conta{
    font-family: Arial, Helvetica, sans-serif ;
    font-size: 16px;
}

.criar-conta a{
    font-family: Arial, Helvetica, sans-serif;
}

.aparecer-tela{
    overflow: hidden;
}


/* PARTE DE CADASTRO */

.cadastro-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffff;
    border-radius: 8px;
    width: 30rem;
    height: 30rem;
    padding: 2rem;
    margin-top: 12rem;
    margin-left: 42rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.cadastro-container p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 700;

}



