
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --cor-primaria: #000000;
    --cor-secundaria: #22D4FD;
    --cor-terciaria: #ffffff;
    --font-principal: 'Montserrat', sans-serif;
    --font-secundaria: 'Krona', sans-serif;
}

body{
    background-color: #000000;
}

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.texto_conteudo{
    font-family: var(--font-principal);
    color: var(--cor-terciaria);
}

.titulo_principal{
    font-family: var(--font-secundaria);
    color: var(--cor-terciaria);

}

nav{
    padding: 10px;
    text-align: center;
}

nav a{
    color:var(--cor-secundaria);
}

nav a:hover{
    color: #ffffff;
}

footer{
    background-color: var(--cor-secundaria);
    font-family: var(--font-principal);
    padding: 10px;
    text-align: center;
    margin-top: 10px;
}
