html{
    scroll-behavior: smooth;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: #ffff;
}

.cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 1000;
    top: 0%;
    width: 100%;
    padding: 20px 8%;
    background-color: #050505;
    z-index: 1000;
    border-bottom: 1px solid #00ff88;
}

.logo{
    font-size: 30px;
    font-weight: bold;
}

.logo span{
    color: #00ff88;
}

.menu ul{
    display: flex;
    gap: 30px;
    list-style: none;
}

.menu a{
    color: #ffff;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s;
}

.menu a:hover{
    color: #00ff88;
}
