*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

.botoes{
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    right: 0;
    width: 180px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.botao{
    border: none;
    background-color: #000;
}
